@page
@model AspNetOneRazor.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="card">
    <div class="card-header">
        Contribute
    </div>
    <div class="card-body">
        <ul>
            <li>Fork the repo on <a href="https://github.com/vijayshinva/TroubleshootingIssuesInAzureCode">GitHub</a></li>
            <li>Clone the project to your own machine</li>
            <li>Commit changes to your own branch</li>
            <li>Push your work back up to your fork</li>
            <li>Submit a Pull request so that we can review your changes</li>
        </ul>
        NOTE: Be sure to merge the latest from "upstream" before making a pull request!
    </div>
</div>
<div class="card">
    <div class="card-header">
        License
    </div>
    <div class="card-body">
        <ul>
            <li>&copy; 2021 - Vijayshinva Karnure</li>
        </ul>
    </div>
</div>
