@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A project to learn about the internals of ASP.NET hosted in various environments like K8S or Cloud.</p>
    <p>@DateTime.Now.ToString()</p>
</div>
